@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VG5000';
    src:    url('./font/VG5000-Regular_web.eot');
    font-weight: normal;
    font-style: normal;
}
